groq==0.4.2
langchain==0.1.14
langchain-community==0.0.31
langchain-core==0.1.40
langchain-groq==0.1.0
langchain-openai==0.1.1
langchain-text-splitters==0.0.1
langsmith==0.1.40
mysql-connector-python==8.3.0
numpy==1.24.4
openai==1.16.2
pandas==2.0.3
python-dotenv==1.0.1
SQLAlchemy==2.0.29
streamlit==1.33.0
